<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mywaiterapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWaiterApp">
        <activity android:name=".NewAdvert"></activity>
        <activity android:name=".AdvertList">
            <intent-filter> <!-- эту лабуду перемести потом обратно в регистрацию плез -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Advert" />
        <activity android:name=".Authorization" />
        <activity android:name=".Registration"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>